<div>
    <h2>API WORKS</h2>
    <form #postForm='ngForm' (ngSubmit)="postapi(postData)">
        <div class="form-group">
            <label for="id">ID:
        <input type="text" [(ngModel)]="postData.id" #id="ngModel" id="number" class="form-control" name="number" ngmodel required>
      </label>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Name:
        <input type="text" [(ngModel)]="postData.name" #name="ngModel" id="name" class="form-control" name="text" ngmodel required>
      </label>
        </div>
        <br>
        <button type="submit">PostApi</button>
        <br>
        <br>
    </form>
    <div>
        <button type="button" (click)="onFetchPosts()">Fetch Data</button>
        <table id='users'>
            <tr>
                <th> UserId </th>
                <th> Name </th>
            </tr>
            <tr *ngFor="let user of user">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
            </tr>
        </table>
    </div>
    <br>
    <button (click)="delete()">DeleteAPI</button>

</div>